services:
  aplicattion:
    build: .
    ports: 
      - "8080:8080"
    env_file:
      - .env
    container_name: aplicattion
    depends_on:
      - minio
    
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    environment:
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

volumes:
  minio_data: